<%= form_with scope: :team, url: teams_path, local: true do |form| %>
 <h2>Create New Team</h2>

  <br>


<div class = "field">
  <% Member.all.each do |member| %>
  <li>
    <%= check_box_tag 'member_id[]', member.id -%>
    <%= member.name %>
  </li>
  <% end %>
</div>

  <br>
  <br>


  <p>
    <%= form.label :team_name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', teams_path %>
