<%= form_with scope: :team, url: teams_path, local: true do |form| %>
 <h2>Create New Team</h2>


<div id = "listmems">
  <%if TeamsInDay.where(day_id: Day.where(date: Date.today)).empty?%>
    <%@teams = []%>
  <%else%>
    <%@teams = []%>
    <%TeamsInDay.where(day_id: Day.where(date: Date.today)).each do |team|%>
      <%@teams << team.team_id%>
    <%end%>
    <%end%>
  <% @todaysmembers = [] %>
  <% MembersInTeam.where(team_id: @teams).each do |m| %>
    <% @todaysmembers << m.member_id %>
  <% end %>
  <%if Member.where.not(id: @todaysmembers).empty? %>
    <h2>All members are on a team today. <h2>
  <%else%>
    <% Member.order("name ASC").where.not(id: @todaysmembers).each do |member| %>
      <% if (!member.inactive || member.inactive == nil) %>
      <li>
        <%= check_box_tag 'member_id[]', member.id -%>
        <%= member.name %>
      </li>
      <% end %>
    <% end %>
  <% end %>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div id = "teamname">
    <p>
      <%= form.label :team_name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.submit %>
    </p>
</div>
<%end%>
<br><br>
<%= link_to 'Back', teams_path %>
